{% extends 'base.html' %}

{% block title %}
    Delete Person
{% endblock %}

{% block main %}
<div class="container my-4 bg-light shadow" style="height: 80vh; display: flex; flex-direction: column; justify-content: center;">
   <center><h2>Are you sure you want to delete {{ person.name }}?</h2></center>
    
    <center>
        <form method="POST" class="">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
            <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </center>
</div>
{% endblock %}
